* {
  background-color: #ffffcc;
}

#game-wrap {
  width: 450px;
  height: 455px;
  margin: 0 auto;
  margin-top: 100px;
  border-top-right: 20px;
  border-top-left: 20px;
}

.row {
  width: 100%;
  height: 150px;
}

.col {
  width: 32%;
  height: 145.5px;
  border: 3px solid black;
  float: left;
  text-align: center;
  font-size: 150px;
  font-family: helvetica;
  color: black;
  cursor: pointer;
}

.player-1-color {
  color: maroon;
}

#player-1-inp {
  margin-left: 75px;
}

#player-2-inp {
}

.col:nth-child(1) {
  border-left: none;
}

.col:nth-child(3) {
  border-right: none;
}

.row:nth-child(1) .col {
  border-top: none;
  margin-top: 3px;
}

.row:nth-child(3) .col {
  border-bottom: none;
  margin-bottom: 3px;
}

#panel {
  width: 435px;
  padding: 10px;
  margin: 100px auto;
  background: black;
  border-bottom-right: 20px;
  border-bottom-left: 20px;
}
