* {
  background-color: #ffffcc;
}

#game-wrap {
  width: 450px;
  height: 455px;
  margin: 0 auto;
  margin-top: 180px;
  border-top-right: 20px;
  border-top-left: 20px;
}

.row {
  width: 100%;
  height: 150px;
}

.col {
  width: 32%;
  height: 145.5px;
  border: 3px solid black;
  float: left;
  text-align: center;
  font-size: 150px;
  font-family: helvetica;
  color: black;
  cursor: pointer;
}

.player-1-color {
  color: maroon;
}

#player-1-inp {
  border-radius: 5px;
  border-color: #CD6600;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  display: block;
  margin : 4% 22%;
}

#player-2-inp {
  border-radius: 5px;
  border-color: #CD6600;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  display: block;
  margin : 4% 22%;
}

.col:nth-child(1) {
  border-left: none;
}

.col:nth-child(3) {
  border-right: none;
}

.row:nth-child(1) .col {
  border-top: none;
  margin-top: 3px;
}

.row:nth-child(3) .col {
  border-bottom: none;
  margin-bottom: 3px;
}

#panel {
  width: 500px;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  background: #EE9572;
  border-radius: 25px;
}

#board {
  font-size: 20px;
  font-family: helvetica;
  text-transform: uppercase;
  text-align: center;
  color: #8B4500;
  position: absolute;
  width: 100%;
  margin-top: 5%;
}

#textArea1 {
  background-color: #EE9572;
  float: left;
  height: 60px;
  width: 25%;
  border-radius: 10px;
  margin-left: 5%;
}

#textArea2 {
  background-color: #EE9572;
  float: right;
  height: 60px;
  width: 25%;
  border-radius: 10px;
  margin-right: 5%;
}

#play {
    position:relative;
    clear:left;
    z-index: 0;
    text-align:center;
}​

#playButton {
  height:20px;
  width:100px;
  margin: -20px -50px;
  position:relative;
  top:50%;
  left:50%;
}

.taco {
  background-image: url("././images/tacotoon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.toe {
  background-image: url("././images/toetoon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#timer {
/*  display: none;  */
  position: absolute;
  left: 12%;
  top: 53%;
  width: 12%;
  height: 23%;
  background-image: url("././images/thetick2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;}

#timer2 {
/*  display: none;  */
  position: absolute;
  top: 53%;
  right: 12%;
  width: 12%;
  height: 23%;
  background-image: url("././images/thetick.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;}

#canvas1 {
  position: relative;
  float: left;
  height: 400px;
  width: 200px;
  border-style: solid;
  border-width: 2px;
}

#canvas2 {
  position: relative;
  float: right;
  height: 400px;
  width: 200px;
  border-style: solid;
  border-width: 2px;
}
